@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5">
            <div class="col-12">
              <div class="subtitulo text-center mt-5  mb-5 ">
                <h1>ACADEMIA DE FUTBOL BELLAVISTA</h1>
                @*<h3>LUIS ALBERTO TRIANA SANDOVAL</h3>*@
                <a class="btn btn-outline-dark btn-lg" href="#">Iniciar Sesion</a>
                <a class="btn btn-outline-dark btn-lg" href="#">Registrarse</a>
              </div>
            </div>
          </div>


<div class="row mt-5">
    <div class="col-md-6">
        <h2>Nuestros Datos</h2>
        <ul>
            <li>La academia de futbol fortalece el rendimiento futbolistico.</li>
            <li>La academia trata de sacar los mejores jugadores para el futbol profesional colombiano.</li>
            <li>La academia es la mejor Academia del pais.</li>
            <li>Mas Info en <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Www.EscuelasColombia.com/AcademiaBellavista</a></li>
        </ul>
    </div>
    
    <div class="col-md-5">
        <h2>Revistas Con Nosotros:</h2>
        <ul>
            <li><a href="#">Www.RevistaSemana.Com/SeccionDeportes/AcademiaRompeRecord</a></li>
            <li><a href="#">Www.Sports.com/AcademiaBellavistaSiguePrimera</a></li>
            <li><a href="#">Www.Deportiva.com/BellavistaElMejorEquipoDeColombia</a></li>
            <li><a href="#">Www.Caracol.com/LosMejoresDelPaisBellavistaFC</a></li>
           
        </ul>
    </div>
    
</div>
